$color1: #9356DC;
$color2: #FF79DA;
$color3: #99E2D0;
$colorneo:#008766;
$colorbor: #CECECE;
$colorbacs: #F6F6F6;
$colorbacin: #EAEAEA;
$colorfo: #353535;
$color-text: #000000;
$color-body: #ffffff;
$colorinact: #808080;
$font-title: 'Shrikhand';
$font-content: 'Roboto', sans-serif;
$num-menu-content: 10;
$anim-dur: 1s;
$anim-delay: $anim-dur / $num-menu-content;
@keyframes animateHeart {
    0% {
       transform: échelle(1);
    }
    40% {
       transform: échelle(2);
    }
    100% {
       transform: échelle(1);
    }
}
@keyframes apparition-menu {
    0% {
        transform: scale(0);
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}
@mixin footer {
    height: 200px;
    margin-top: 5%;
    color: $color-body;
    padding-top: 1%; 
    background-color: $colorfo;
    img{
        width: 10%;
        min-width: 100px;
        height: 1%;
        min-height: 20px;
        margin-left: 20px;
        filter: invert(100%);
    }
    ul{
        margin-left: -20px;
        margin-top: 10px;
        font-size: 1.2rem;
    }
    li{
        margin-top: 1%;
        
        a{
            color: $color-body;
        }
    }
}
@mixin menu {
    background-color: $color-body;
    box-shadow: 3px 3px 3px 3px $colorbor;
    border-radius: 20px;
}
@mixin headingborder  {
    box-shadow: 3px 3px 3px 3px $colorbor;
}
@mixin i-animate {
    cursor: pointer;
        fill: none;
        transition: .6s;
        @include taillei2;
        &:hover{
            animation:  animateHeart .6s;
            @include i-hover;
        }
}
@mixin taillei2 {
    font-size: 1.7rem;
}
@mixin btn_hover {
    opacity: 0.8;
    box-shadow: 5px 5px 5px 5px  $colorbor;
}
@mixin btn {
    height: 60px;
    border: 1px $color1;
    border-radius: 50px;
    width: 20%;
    min-width: 300px;
    margin-top: 1%;
    background: linear-gradient(to bottom,$color2,$color1);
    color: white;
}
@mixin i-hover {
    color: $color1;
    font-weight: bolder;
}
@mixin table {
    border-collapse: separate;
    border-spacing: 30px 30px;
}
@keyframes lds-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes apparition-page {
    0% {
      transform: scale(0);
      opacity: 0%;
    }
    50% {
      opacity: 0%;
    }
    100% {
      transform: scale(1);
      opacity: 100%;
    }
}

@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
}
.lds-ring{
    animation: loader 2s;
    animation-fill-mode: forwards;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
     & div{
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin-top: 20%;
        margin-left: 50%;
        border: 8px solid $color2;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $color2 transparent transparent transparent;
        &:nth-child(1){
            animation-delay: -0.45s;
        }
        &:nth-child(2){
            animation-delay: -0.3s;
        }
        &:nth-child(3){
            animation-delay: -0.15s;
        }
    }
}
body{
    background: white;
  
    a {

      color: black;
      text-decoration: none;
    }
}    
.bloc_page{
    header , .section1 , .section2 , .section3 , footer{
        animation: apparition-page 2s;
    }
}
.bloc_page{
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    p , .btn , .h3{
        font-size: 1.2rem;
    }
    background-color: $colorbacs;
    font-family: 'Roboto', sans-serif;
    img{
        background-size: cover;
    }
    ul{
        list-style-type: none;
    }
    a:link{
        text-decoration: none;
    }
    .logo1 , .logo2 , h1 , h2{
        font-family: 'Shrikhand';
    }


    header{
        text-align:center;
        @include headingborder;
        background-color: $color-body;
    }
    .logo1{
        padding-top: 20px;
        border-top: transparent; 
        img{
        height: 1%;
        width: 60%;
        min-width: 140px;
        max-width: 300px;
        }
    }
    .section1{
        display: block;
        text-align: center;
        background-color: $colorbacs;
        height: 50%;
        min-height: 350px;
        margin-top: 7px;
        .local{
            font-size: 1.5rem;
            display: table-cell;
            height: 50px;
            vertical-align: middle;
            background-color: $colorbacin;
            width: 0.50%;
            min-width: 320px;
            p , i{
                display: inline;
            }
            p{
                margin-left: 20px;
            }
        }
    }

    .btn{
        @include btn;
        @include headingborder;
        &:hover{
            @include btn_hover;
        }    
    }
    .section2{
        padding-top: 20px;
        height: 20%;
        min-height: 200px;
        width: 100%;
        background-color: $color-body;
        h2{
            margin-left: 20px
        }
        table{
            @include table;
            width: 100%;
            height: 100%;
            .ad1 , .ad2 , .ad3{
                font-size: 1.2rem;
                width: 30%;
                min-width: 300px;
                background-color: $colorbacs;
                border-radius: 20px;
                height: 50%;
                min-height: 75px;
                @include headingborder;
                label , i , p{
                    display: inline-block;
                    margin-left: 30px;
                }
                label{
                    margin-top: 15px;
                    margin-left: -20px;
                    padding-top: 10px;
                    background-color: $color1;
                    color: white;
                    width: 40px;
                    height: 30px;
                    border-radius: 50%;
                    text-align: center;
                    align-items: center;
                }
                i{
                    margin-top: 22px;
                }
                p{
                    margin-top: 22px;
                }
            }
            .ad1 , .ad2{
                i{
                    color: $colorinact;
                }
            }
            .ad3{
                i{
                    color: $color1;
                }
            }
        }
    }
    .section3{
        i{
            @include i-animate; 
            color: $color-text;
        }
        h2 , h3 , p{
            margin-left: 20px;
        }
        form{
            margin-top: 0%;
            width: 100%;
            background-color: $colorbacs;
            height: 30%;
            min-height: 300px;
        }
        ul{
            display: flex;
            justify-content: space-around;
        }
        li{     
            width: 20%;
            min-width: 300px;
            height: 30%;
            min-height: 170px;
            @include menu;
            i{
                margin-left: 80%;
                padding-top: 20px;
            }
            h3{
                margin-top: -20px;
            }
        }
        .neo{
            position: absolute;
            color: $colorneo;
            width:90px;
            background-color: $color3;
            text-align: center;
            height: 20px;
            margin-left: 13%;
        }
        img{
        
            width: 100%;
            min-width: 300px;
            height: 200px;
            background-size: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        h3 , p{
            color: $color-text;
        }
    }
}
footer{
   @include footer; 
}
/*ci-dessous css page2à5*/
.header-title {
    background-color: $color-body;
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    
    img {
      height: 70px;
      width: 200px;
    }
  
    .back-home {
      left: 15px;
      position: absolute;
      top: 30px;
      font-size: 2rem;
    }
}
.photo-menu{
    margin-bottom: -30px;
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}
.menu{
    background-color: $colorbacs;
    img{
        background-size: cover;
    }
    ul{
        list-style-type: none;
    }
    a:link{
        text-decoration: none;
    }
    .order-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        p{ 
            padding-top: 30px;
            font-size: 1.7rem;
            text-align: center;
            @include headingborder;
            @include btn;
            &:hover{
                @include btn_hover;
            }
        }
    }
}
.menu-header {
    align-items: center;
    display: flex;
    font-weight: normal;
    justify-content: space-between;
    padding: 0 20px;
    h2{
        font-family: $font-title;
        font-size: 2.5rem;
    }
    i{
        @include i-animate;
    }
}
.sections-restaurants-menu {
    background-color: $colorbacs;
    border-radius: 30px 30px 0 0;
    position: relative;
}
.restaurants-menus {
    display: grid;
    @media (min-width: 992px) {
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
        margin: 0 50px;
    }
}
.menus {
    max-width: 100%;
    overflow: hidden;
    padding: 0px 10px;

    &__title {
        font-size: 1.7rem; 
        font-family: $font-content;
        font-weight: 300;
        padding-bottom: 6px;
        position: relative;
        text-transform: uppercase;
        &::after {
        background-color: $color3;
        bottom: 0;
        content: "";
        height: 4px;
        left: 0;
        position: absolute;
        width: 30px;
        }
    }
}


/* mise en place du contenu des menus*/

.menu-content {
    @include menu;
    display: flex;
    margin: 20px 0px;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    animation: apparition-menu .5s;    /*animation de l'apparition des menus*/
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    @for $i from 1 to $num-menu-content { 
        &--#{$i} {
            animation-delay: $anim-dur * $i;
        }
    }
    transform: scale(0);
    max-width: 100%;
    height: 70px;
    &__header {        /* jusqu'à ligne 548 mise en place et animation  composition du menu*/
        flex: 1;                             
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
    }

    &__title {
        flex: 1;
        font-family: $font-content;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 5px;
    }

    &__description {
        font-size: 20px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 20px;
    }

    &__price {
        align-items: flex-end;
        display: flex;
        font-family: $font-content;
        font-weight: 700;
        justify-content: flex-end;
        padding-left: 20px;
    }

    &__confirmation {
        align-items: center;
        background-color: $color3;
        display: flex;
        justify-content: center;
        margin: -16px -120px -16px 16px;
        transition-duration: .5s;
        width: 104px;
    }

    &:hover &__confirmation {
        margin-right: -10px;
    }

    &__check-icon {
        align-items: center;
        background-color: white;
        border-radius: 100px;
        color: $color3;
        display: flex;
        height: 25px;
        justify-content: center;
        transform: rotate(180deg);
        transition-duration: .8s;
        width: 25px;
    }

    &:hover &__check-icon {
        transform: rotate(0);
    }

    &__icon {
        color: $color3;
    }
}   

