@charset "UTF-8";
@keyframes animateHeart {
  0% {
    transform: échelle(1);
  }
  40% {
    transform: échelle(2);
  }
  100% {
    transform: échelle(1);
  }
}
@keyframes apparition-menu {
  0% {
    transform: scale(0);
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition-page {
  0% {
    transform: scale(0);
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.lds-ring {
  animation: loader 2s;
  animation-fill-mode: forwards;
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin-top: 20%;
  margin-left: 50%;
  border: 8px solid #FF79DA;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FF79DA transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
}
body h1, body h2 {
  font-family: "Shrikhand";
}
body ul {
  list-style-type: none;
}
body a {
  color: black;
  text-decoration: none;
}

/*footer commun à toutes les pages*/
footer {
  height: 200px;
  margin-top: 5%;
  color: #ffffff;
  padding-top: 1%;
  background-color: #353535;
}
footer img {
  width: 10%;
  min-width: 100px;
  height: 1%;
  min-height: 20px;
  margin-left: 20px;
  filter: invert(100%);
}
footer ul {
  margin-left: -20px;
  margin-top: 10px;
  font-size: 1.2rem;
}
footer li {
  margin-top: 1%;
}
footer li a {
  color: #ffffff;
}

/*css page accueil restaurant*/
.bloc_page {
  background-color: #F6F6F6;
}
.bloc_page header, .bloc_page .section1, .bloc_page .section2, .bloc_page .section3, .bloc_page footer {
  animation: apparition-page 2s;
}
.bloc_page h1 {
  font-size: 2rem;
}
.bloc_page h2 {
  font-size: 1.7rem;
}
.bloc_page p, .bloc_page .btn, .bloc_page .h3 {
  font-size: 1.2rem;
}
.bloc_page header {
  text-align: center;
  box-shadow: 3px 3px 3px 3px #CECECE;
  background-color: #ffffff;
}

.logo1 {
  padding-top: 20px;
  border-top: transparent;
}
.logo1 img {
  height: 1%;
  width: 60%;
  min-width: 140px;
  max-width: 300px;
}

.section1 {
  display: block;
  text-align: center;
  background-color: #F6F6F6;
  height: 50%;
  min-height: 350px;
  margin-top: 7px;
}
.section1 .local {
  font-size: 1.5rem;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  background-color: #EAEAEA;
  width: 0.5%;
  min-width: 320px;
}
.section1 .local p, .section1 .local i {
  display: inline;
}
.section1 .local p {
  margin-left: 20px;
}
.section1 .btn {
  justify-content: center;
  display: flex;
}
.section1 .btn p {
  width: 25%;
  font-size: 1.5rem;
  padding-top: 20px;
  height: 50px;
  border: 1px #9356DC;
  border-radius: 50px;
  min-width: 300px;
  margin-top: 1%;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 3px 3px 3px 3px #CECECE;
}
.section1 .btn p:hover {
  opacity: 0.8;
  box-shadow: 8px 8px 8px 8px #CECECE;
}

.section2 {
  background-color: #ffffff;
}
.section2 h2 {
  margin-left: 20px;
}
.section2 .fonctionnalities {
  display: grid;
}
.section2 .fonctionnalities .fonctionnalities-card {
  max-width: 100%;
  box-shadow: 3px 3px 3px 3px #CECECE;
  background-color: #F6F6F6;
  font-size: 1.2rem;
  border-radius: 20px;
  margin: 20px 20px;
}
.section2 .fonctionnalities .fonctionnalities-card__content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  height: 70px;
}
.section2 .fonctionnalities .fonctionnalities-card .number-circle {
  color: #ffffff;
  border-radius: 50%;
  background-color: #9356DC;
  margin: 0px 10px 0px -11px;
  padding: 5px 8px;
  font-size: 15px;
}
.section2 .fonctionnalities .fonctionnalities-card .miniicon, .section2 .fonctionnalities .fonctionnalities-card .miniicon2 {
  color: #808080;
  width: 50px;
  text-align: center;
}
.section2 .fonctionnalities .fonctionnalities-card .miniicon2 {
  color: #9356DC;
}

.section3 {
  padding: 10px 0px 5px 0px;
  background-color: #F6F6F6;
}
.section3 i {
  cursor: pointer;
  fill: none;
  transition: 0.6s;
  font-size: 1.7rem;
  color: #000000;
}
.section3 i:hover {
  animation: animateHeart 0.6s;
  color: #9356DC;
  font-weight: bolder;
}
.section3 h2 {
  margin-left: 20px;
}
.section3 .choix-resto {
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.section3 .choix-resto .carte-resto {
  overflow: hidden;
  position: relative;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 3px #CECECE;
  border-radius: 20px;
}
.section3 .choix-resto .carte-resto img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.section3 .choix-resto .carte-resto .contenu {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.section3 .choix-resto .carte-resto .carte-contenu {
  flex: 1;
  margin: 5px 0px 5px 10px;
  width: 150px;
}
.section3 .choix-resto .carte-resto .carte-contenu h3 {
  margin: 0;
}
.section3 .choix-resto .carte-resto .neo {
  position: absolute;
  right: 10px;
  background-color: #99E2D0;
  font-size: 1rem;
  top: 10px;
}
.section3 .choix-resto .carte-resto .neo p {
  margin: 5px 10px 5px 10px;
  color: #008766;
}

/*adaptation pour les différents écrans page accueil*/
@media screen and (min-width: 1024px) {
  .section3 {
    padding: 10px 50px;
  }
}
@media screen and (min-width: 600px) {
  .section3 {
    padding: 10px 20px;
  }
}
@media screen and (min-width: 992px) {
  .choix-resto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .fonctionnalities {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*ci-dessous css page des menus*/
.header-title {
  background-color: #ffffff;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}
.header-title img {
  height: 70px;
  width: 200px;
}
.header-title .back-home {
  left: 15px;
  position: absolute;
  top: 30px;
  font-size: 2rem;
}

.photo-menu {
  margin-bottom: -30px;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #F6F6F6;
}

.menu-btn {
  display: flex;
  justify-content: center;
}
.menu-btn p {
  width: 20%;
  padding-top: 20px;
  font-size: 1.7rem;
  text-align: center;
  box-shadow: 3px 3px 3px 3px #CECECE;
  height: 50px;
  border: 1px #9356DC;
  border-radius: 50px;
  min-width: 300px;
  margin-top: 1%;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
}
.menu-btn p:hover {
  opacity: 0.8;
  box-shadow: 8px 8px 8px 8px #CECECE;
}

.menu-header {
  align-items: center;
  display: flex;
  font-weight: normal;
  justify-content: space-between;
  padding: 0 20px;
}
.menu-header h2 {
  font-family: "Shrikhand";
  font-size: 2.5rem;
}
.menu-header i {
  cursor: pointer;
  fill: none;
  transition: 0.6s;
  font-size: 1.7rem;
}
.menu-header i:hover {
  animation: animateHeart 0.6s;
  color: #9356DC;
  font-weight: bolder;
}

.sections-restaurants-menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
}

.menus {
  max-width: 100%;
  overflow: hidden;
  padding: 0px 10px;
}
.menus__title {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 6px;
  position: relative;
  text-transform: uppercase;
}
.menus__title::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 30px;
}

/* mise en place du contenu des menus*/
.menu-content {
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 3px #CECECE;
  border-radius: 20px;
  display: flex;
  margin: 20px 0px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  animation: apparition-menu 0.5s;
  /*animation de l'apparition des menus*/
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /*delai d'apparition des différents contenus du menu*/
  transform: scale(0);
  max-width: 100%;
  height: 70px;
}
.menu-content--1 {
  animation-delay: 1s;
}
.menu-content--2 {
  animation-delay: 2s;
}
.menu-content--3 {
  animation-delay: 3s;
}
.menu-content--4 {
  animation-delay: 4s;
}
.menu-content--5 {
  animation-delay: 5s;
}
.menu-content--6 {
  animation-delay: 6s;
}
.menu-content--7 {
  animation-delay: 7s;
}
.menu-content--8 {
  animation-delay: 8s;
}
.menu-content--9 {
  animation-delay: 9s;
}
.menu-content__header {
  /* jusqu'à ligne 548 mise en place et animation  composition du menu*/
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-content__title {
  flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.menu-content__description {
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 20px;
}
.menu-content__price {
  align-items: flex-end;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  justify-content: flex-end;
  padding-left: 20px;
}
.menu-content__check {
  align-items: center;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  margin: -16px -120px -16px 16px;
  transition-duration: 0.5s;
  width: 104px;
}
.menu-content:hover .menu-content__check {
  margin-right: -10px;
}
.menu-content__check-icon {
  align-items: center;
  background-color: white;
  border-radius: 100px;
  color: #99E2D0;
  display: flex;
  height: 25px;
  justify-content: center;
  transform: rotate(180deg);
  transition-duration: 0.8s;
  width: 25px;
}
.menu-content:hover .menu-content__check-icon {
  transform: rotate(360deg);
}
.menu-content__icon {
  color: #99E2D0;
}

/*adaptation pour les différents écrans page des menus*/
@media (min-width: 992px) {
  .restaurants-menus {
    column-gap: 1rem;
    margin: 0 50px;
  }

  .restaurants-menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
