@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3, p, .btn, .local {
    font-size: 1rem;
  }

  .section2 form, .section2 aside {
    width: 100%;
  }
  .section2 form {
    margin-top: 2%;
  }
  .section2 ul, .section2 div {
    flex-direction: column;
  }
  .section2 li {
    width: 100%;
    min-width: 320px;
    margin-left: -25px;
    margin-top: 20px;
  }
  .section2 li i {
    margin-left: -50px;
  }
  .section2 .ad1, .section2 .ad2, .section2 .ad3 {
    width: 90%;
    min-width: 320px;
    margin-left: 5px;
    display: table-cell;
    align-items: center;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  .section2 .ad1 p, .section2 .ad2 p, .section2 .ad3 p {
    font-size: 0.9rem;
    margin-left: 100px;
  }
  .section2 .ad1 label, .section2 .ad2 label, .section2 .ad3 label {
    margin-left: 2px;
    height: 30px;
    width: 30px;
  }
  .section2 .ad1 i, .section2 .ad2 i, .section2 .ad3 i {
    margin-left: 30px;
  }
}
body, .menu {
  background-color: white;
}
body img, .menu img {
  background-size: cover;
}
body ul, .menu ul {
  list-style-type: none;
}
body a:link, .menu a:link {
  text-decoration: none;
}
body h1, body h2, body h3, body h4, .menu h1, .menu h2, .menu h3, .menu h4 {
  font-family: "Shrikhand";
  color: black;
}
body .sectionB i, body p, .menu .sectionB i, .menu p {
  font-family: "Roboto", sans-serif;
  color: black;
}

header {
  background-color: #F6F6F6;
  text-align: center;
}
header .local {
  padding-top: 20px;
  font-size: 1.5rem;
  display: table-cell;
  height: 50px;
  background-color: #EAEAEA;
  width: 0.5%;
  min-width: 320px;
}
header .local i, header .local .lieux {
  display: inline;
}
header .local .lieux {
  font-size: 1.5rem;
  margin-left: 20px;
}
header .logo1 {
  box-shadow: 3px 3px 3px 3px #CECECE;
  padding-top: 20px;
  border-top: transparent;
  background-color: white;
}
header .logo1 img {
  height: 1%;
  width: 60%;
  min-width: 150px;
  max-width: 300px;
}
header .location {
  background-color: #F6F6F6;
  height: 20%;
  min-height: 250px;
}
header .location p {
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin: 30px 10px 15px;
  font-size: 1.7rem;
}

p, .btn, h4 {
  font-size: 1.5rem;
}

.btn {
  height: 60px;
  border: 1px #9356DC;
  border-radius: 180px;
  width: 20%;
  min-width: 300px;
  margin-top: 1%;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 3px 3px 3px 3px #CECECE;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px 5px #CECECE;
}

.sectionA {
  width: 100%;
}

.fonctionnement {
  display: flex;
  width: 100%;
}
.fonctionnement .instructions__content {
  background-color: #F6F6F6;
  width: 450px;
  height: 50px;
  padding-top: 25px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #CECECE;
  margin-left: 40px;
}
.fonctionnement .instructions .circle, .fonctionnement .instructions .icon, .fonctionnement .instructions .icon2, .fonctionnement .instructions p {
  display: inline;
  font-size: 1.5rem;
}
.fonctionnement .instructions .icon, .fonctionnement .instructions .icon2, .fonctionnement .instructions p {
  margin-left: 30px;
}
.fonctionnement .instructions .circle {
  color: white;
  background-color: #9356DC;
  border-radius: 50px;
  margin-left: -1%;
}
.fonctionnement .instructions .icon {
  color: gray;
}
.fonctionnement .instructions .icon2 {
  color: #9356DC;
}

.sectionB {
  margin-top: 3%;
  width: 100%;
  background-color: #F6F6F6;
  height: 30%;
  min-height: 300px;
}
.sectionB i {
  font-size: 1.7rem;
}
.sectionB i:hover {
  color: #9356DC;
  font-weight: linear-radient(to top, #FF79DA, #9356DC);
}
.sectionB h3, .sectionB h4, .sectionB p {
  margin-left: 20px;
}
.sectionB h3 {
  padding-top: 20px;
  font-size: 1.7rem;
}
.sectionB .resto {
  align-items: flex-start;
}
.sectionB .carte_resto {
  background-color: white;
  width: 30%;
}
.sectionB img {
  background-size: cover;
  height: 175px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.sectionB .content {
  width: 100%;
  background-color: white;
}
.sectionB .nouveau {
  background-color: #99E2D0;
  width: 30%;
  margin-top: 30px;
}
.sectionB .nouveau p {
  color: #008766;
}

footer {
  height: 200px;
  margin-top: 5%;
  color: white;
  padding-top: 1%;
  background-color: #353535;
}
footer img {
  width: 10%;
  min-width: 100px;
  height: 1%;
  min-height: 20px;
  margin-left: 20px;
  filter: invert(100%);
}
footer ul {
  margin-left: -20px;
  margin-top: 10px;
  font-size: 1.2rem;
}
footer li {
  margin-top: 1%;
}
footer li a {
  color: white;
}

/*ci-dessous css page2*/
.menu .logo1 ul {
  text-align: left;
  font-size: 2rem;
  margin-top: auto;
}
.menu .logo1 a {
  color: black;
}
.menu main {
  background-color: #F6F6F6;
}
.menu main i {
  margin-left: 25%;
}
.menu h1, .menu main i {
  font-size: 2rem;
  display: inline;
}
.menu .photo img {
  width: 50%;
  min-width: 300px;
  height: 300px;
}
.menu .composition {
  margin-left: 2%;
  width: 100%;
  padding-top: 2%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/*# sourceMappingURL=style.css.map */
