@charset "UTF-8";
@keyframes animateHeart {
  0% {
    transform: échelle(1);
  }
  40% {
    transform: échelle(2);
  }
  100% {
    transform: échelle(1);
  }
}
@keyframes apparition-menu {
  0% {
    transform: scale(0);
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition-page {
  0% {
    transform: scale(0);
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.lds-ring {
  animation: loader 2s;
  animation-fill-mode: forwards;
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin-top: 20%;
  margin-left: 50%;
  border: 8px solid #FF79DA;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FF79DA transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

body {
  background: white;
}
body a {
  color: black;
  text-decoration: none;
}

.bloc_page header, .bloc_page .section1, .bloc_page .section2, .bloc_page .section3, .bloc_page footer {
  animation: apparition-page 2s;
}

.bloc_page {
  background-color: #F6F6F6;
  font-family: "Roboto", sans-serif;
}
.bloc_page h1 {
  font-size: 2rem;
}
.bloc_page h2 {
  font-size: 1.7rem;
}
.bloc_page p, .bloc_page .btn, .bloc_page .h3 {
  font-size: 1.2rem;
}
.bloc_page img {
  background-size: cover;
}
.bloc_page ul {
  list-style-type: none;
}
.bloc_page a:link {
  text-decoration: none;
}
.bloc_page .logo1, .bloc_page .logo2, .bloc_page h1, .bloc_page h2 {
  font-family: "Shrikhand";
}
.bloc_page header {
  text-align: center;
  box-shadow: 3px 3px 3px 3px #CECECE;
  background-color: #ffffff;
}
.bloc_page .logo1 {
  padding-top: 20px;
  border-top: transparent;
}
.bloc_page .logo1 img {
  height: 1%;
  width: 60%;
  min-width: 140px;
  max-width: 300px;
}
.bloc_page .section1 {
  display: block;
  text-align: center;
  background-color: #F6F6F6;
  height: 50%;
  min-height: 350px;
  margin-top: 7px;
}
.bloc_page .section1 .local {
  font-size: 1.5rem;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  background-color: #EAEAEA;
  width: 0.5%;
  min-width: 320px;
}
.bloc_page .section1 .local p, .bloc_page .section1 .local i {
  display: inline;
}
.bloc_page .section1 .local p {
  margin-left: 20px;
}
.bloc_page .btn {
  height: 60px;
  border: 1px #9356DC;
  border-radius: 50px;
  width: 20%;
  min-width: 300px;
  margin-top: 1%;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 3px 3px 3px 3px #CECECE;
}
.bloc_page .btn:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px 5px #CECECE;
}
.bloc_page .section2 {
  padding-top: 20px;
  height: 20%;
  min-height: 200px;
  width: 100%;
  background-color: #ffffff;
}
.bloc_page .section2 h2 {
  margin-left: 20px;
}
.bloc_page .section2 table {
  border-collapse: separate;
  border-spacing: 30px 30px;
  width: 100%;
  height: 100%;
}
.bloc_page .section2 table .ad1, .bloc_page .section2 table .ad2, .bloc_page .section2 table .ad3 {
  font-size: 1.2rem;
  width: 30%;
  min-width: 300px;
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 50%;
  min-height: 75px;
  box-shadow: 3px 3px 3px 3px #CECECE;
}
.bloc_page .section2 table .ad1 label, .bloc_page .section2 table .ad1 i, .bloc_page .section2 table .ad1 p, .bloc_page .section2 table .ad2 label, .bloc_page .section2 table .ad2 i, .bloc_page .section2 table .ad2 p, .bloc_page .section2 table .ad3 label, .bloc_page .section2 table .ad3 i, .bloc_page .section2 table .ad3 p {
  display: inline-block;
  margin-left: 30px;
}
.bloc_page .section2 table .ad1 label, .bloc_page .section2 table .ad2 label, .bloc_page .section2 table .ad3 label {
  margin-top: 15px;
  margin-left: -20px;
  padding-top: 10px;
  background-color: #9356DC;
  color: white;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
.bloc_page .section2 table .ad1 i, .bloc_page .section2 table .ad2 i, .bloc_page .section2 table .ad3 i {
  margin-top: 22px;
}
.bloc_page .section2 table .ad1 p, .bloc_page .section2 table .ad2 p, .bloc_page .section2 table .ad3 p {
  margin-top: 22px;
}
.bloc_page .section2 table .ad1 i, .bloc_page .section2 table .ad2 i {
  color: #808080;
}
.bloc_page .section2 table .ad3 i {
  color: #9356DC;
}
.bloc_page .section3 i {
  cursor: pointer;
  fill: none;
  transition: 0.6s;
  font-size: 1.7rem;
  color: #000000;
}
.bloc_page .section3 i:hover {
  animation: animateHeart 0.6s;
  color: #9356DC;
  font-weight: bolder;
}
.bloc_page .section3 h2, .bloc_page .section3 h3, .bloc_page .section3 p {
  margin-left: 20px;
}
.bloc_page .section3 form {
  margin-top: 0%;
  width: 100%;
  background-color: #F6F6F6;
  height: 30%;
  min-height: 300px;
}
.bloc_page .section3 ul {
  display: flex;
  justify-content: space-around;
}
.bloc_page .section3 li {
  width: 20%;
  min-width: 300px;
  height: 30%;
  min-height: 170px;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 3px #CECECE;
  border-radius: 20px;
}
.bloc_page .section3 li i {
  margin-left: 80%;
  padding-top: 20px;
}
.bloc_page .section3 li h3 {
  margin-top: -20px;
}
.bloc_page .section3 .neo {
  position: absolute;
  color: #008766;
  width: 90px;
  background-color: #99E2D0;
  text-align: center;
  height: 20px;
  margin-left: 13%;
}
.bloc_page .section3 img {
  width: 100%;
  min-width: 300px;
  height: 200px;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bloc_page .section3 h3, .bloc_page .section3 p {
  color: #000000;
}

footer {
  height: 200px;
  margin-top: 5%;
  color: #ffffff;
  padding-top: 1%;
  background-color: #353535;
}
footer img {
  width: 10%;
  min-width: 100px;
  height: 1%;
  min-height: 20px;
  margin-left: 20px;
  filter: invert(100%);
}
footer ul {
  margin-left: -20px;
  margin-top: 10px;
  font-size: 1.2rem;
}
footer li {
  margin-top: 1%;
}
footer li a {
  color: #ffffff;
}

/*ci-dessous css page2à5*/
.header-title {
  background-color: #ffffff;
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
}
.header-title img {
  height: 70px;
  width: 200px;
}
.header-title .back-home {
  left: 15px;
  position: absolute;
  top: 30px;
  font-size: 2rem;
}

.photo-menu {
  margin-bottom: -30px;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #F6F6F6;
}
.menu img {
  background-size: cover;
}
.menu ul {
  list-style-type: none;
}
.menu a:link {
  text-decoration: none;
}
.menu .order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .order-btn p {
  padding-top: 30px;
  font-size: 1.7rem;
  text-align: center;
  box-shadow: 3px 3px 3px 3px #CECECE;
  height: 60px;
  border: 1px #9356DC;
  border-radius: 50px;
  width: 20%;
  min-width: 300px;
  margin-top: 1%;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
}
.menu .order-btn p:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px 5px #CECECE;
}

.menu-header {
  align-items: center;
  display: flex;
  font-weight: normal;
  justify-content: space-between;
  padding: 0 20px;
}
.menu-header h2 {
  font-family: "Shrikhand";
  font-size: 2.5rem;
}
.menu-header i {
  cursor: pointer;
  fill: none;
  transition: 0.6s;
  font-size: 1.7rem;
}
.menu-header i:hover {
  animation: animateHeart 0.6s;
  color: #9356DC;
  font-weight: bolder;
}

.sections-restaurants-menu {
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
}

.restaurants-menus {
  display: grid;
}
@media (min-width: 992px) {
  .restaurants-menus {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    margin: 0 50px;
  }
}

.menus {
  max-width: 100%;
  overflow: hidden;
  padding: 0px 10px;
}
.menus__title {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 6px;
  position: relative;
  text-transform: uppercase;
}
.menus__title::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 30px;
}

/* mise en place du contenu des menus*/
.menu-content {
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 3px #CECECE;
  border-radius: 20px;
  display: flex;
  margin: 20px 0px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
  animation: apparition-menu 0.5s;
  /*animation de l'apparition des menus*/
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform: scale(0);
  max-width: 100%;
  height: 70px;
}
.menu-content--1 {
  animation-delay: 1s;
}
.menu-content--2 {
  animation-delay: 2s;
}
.menu-content--3 {
  animation-delay: 3s;
}
.menu-content--4 {
  animation-delay: 4s;
}
.menu-content--5 {
  animation-delay: 5s;
}
.menu-content--6 {
  animation-delay: 6s;
}
.menu-content--7 {
  animation-delay: 7s;
}
.menu-content--8 {
  animation-delay: 8s;
}
.menu-content--9 {
  animation-delay: 9s;
}
.menu-content__header {
  /* jusqu'à ligne 548 mise en place et animation  composition du menu*/
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-content__title {
  flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.menu-content__description {
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 20px;
}
.menu-content__price {
  align-items: flex-end;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  justify-content: flex-end;
  padding-left: 20px;
}
.menu-content__confirmation {
  align-items: center;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  margin: -16px -120px -16px 16px;
  transition-duration: 0.5s;
  width: 104px;
}
.menu-content:hover .menu-content__confirmation {
  margin-right: -10px;
}
.menu-content__check-icon {
  align-items: center;
  background-color: white;
  border-radius: 100px;
  color: #99E2D0;
  display: flex;
  height: 25px;
  justify-content: center;
  transform: rotate(180deg);
  transition-duration: 0.8s;
  width: 25px;
}
.menu-content:hover .menu-content__check-icon {
  transform: rotate(0);
}
.menu-content__icon {
  color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
