.section2{
    h2{
        margin-left: 20px;
    }
    background-color: $color-body;
    .fonctionnalities{
        display: grid;
        .fonctionnalities-card{
            max-width: 100%;
            @include headingborder;
            background-color: $colorbacs;
            font-size: 1.2rem;
            border-radius: 20px;
            margin: 20px 20px;
            &__content{
               display: flex;
               justify-content: flex-start;
               flex-direction: row;
               align-items: center;
               height: 70px;
            }
            .number-circle{
                color: $color-body;
                border-radius: 50%;
                background-color: $color1;
                margin: 0px 10px 0px -11px;
                padding: 5px 8px;
                font-size: 15px;
            }
            .miniicon , .miniicon2{
                color: $colorinact;
                width: 50px;
                text-align: center;
            }
            .miniicon2{
                color: $color1;
            }
        }
    }
}
