$color1: #9356DC;
$color2: #FF79DA;
$color3: #99E2D0;
$colorneo:#008766;
$colorbor: #CECECE;
$colorbacs: #F6F6F6;
$colorbacin: #EAEAEA;
$colorfo: #353535;
$color-text: #000000;
$color-body: #ffffff;
$colorinact: #808080;
$font-title: 'Shrikhand';
$font-content: 'Roboto', sans-serif;
$num-menu-content: 10;
$anim-dur: 1s;
$anim-delay: $anim-dur / $num-menu-content;